@import '~antd/dist/antd.less';

.my-fil-layout {
  min-height: 100vh;
}

.my-fil-layout .my-fil-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.my-fil-layout .my-fil-content {
  margin-top: 64px;
  margin: 94px 50px 0 50px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}

.my-fil-layout .my-fil-footer {
  text-align: center;
}

.my-fil-node-info-button {
  margin: 5px 0;
}
